http:
  middlewares:
    oidc-auth:
      plugin:
       traefik-oidc-auth:
         Secret: {{ oidc_secret }}
         Provider:
           ClientId: {{ oidc_client_id }}
           ClientSecret: {{ oidc_client_secret }}
           Url: https://auth.{{ fqdn }}
           TokenValidation: IdToken
         Scopes:
           - openid
           - profile
           - email
      

  routers:
    dashboard:
      rule: Host(`traefik.{{ fqdn }}`) # El subdominio para tu panel
      service: api@internal
      entryPoints:
        - websecure
      tls:
        certResolver: myresolver
      middlewares:
        - oidc-auth
        - compresionHeaders
        - seguridadHeaders
    
