[Unit]
Description=OpenObserve
After=network-online.target

[Container]
Image=public.ecr.aws/zinclabs/openobserve:latest
ContainerName=openobserve
AutoUpdate=registry

# Persistencia
Volume=openobserve-data.volume:/data:Z

# Networking
Network=proxy.network
Network=security.network

# Environment
Environment=ZO_ROOT_USER_EMAIL={{ env.OO_USER_EMAIL }}
Environment=ZO_ROOT_USER_PASSWORD={{ env.OO_USER_PASSWORD }}
Environment=ZO_LOCAL_MODE=true
Environment=ZO_DATA_RETENTION_DAYS=30

# Healthcheck
# - Comprueba cada 90 segundos
# - Si falla 3 veces, el contenedor se marca como unhealthy
# - Espera 5 segundos por respuesta
HealthCmd=curl -f http://localhost:5080/healthz || exit 1
HealthInterval=90s
HealthRetries=3
HealthTimeout=5s
HealthStartPeriod=10s

# Labels
Label=traefik.enable=true
Label=traefik.http.services.openobserve.loadbalancer.server.port: 5080
Label=traefik.http.routers.openobserve.rule=Host(`openobserve.{{ env.FQDN }}`)
Label=traefik.http.routers.openobserve.entrypoints=websecure
Label=traefik.http.routers.openobserve.tls.certresolver=myresolver
Label=traefik.http.routers.openobserve.middlewares=seguridadHeaders@file,compresionHeaders@file

[Service]
# Environemnt
Environment=SOPS_AGE_KEY_FILE=%h/.secrets/sops/age/key.txt
Environment=PATH=/usr/local/bin:/usr/bin:%h/.local/bin
# Restart
Restart=on-failure
RestartSec=10s
StartLimitIntervalSec=300
StartLimitBurst=3
# Tiempo máximo para que el healthcheck pase a healthy
TimeoutStartSec=60
{% raw %}
ExecStartPost=/usr/bin/bash -c 'while [ "$(podman inspect --format "{{.State.Health.Status}}" openobserve)" != "healthy" ]; do sleep 2; done'
{% endraw %}

[Install]
WantedBy=default.target
