[Unit]
Description=CrowdSec Security Engine
After=network-online.target

[Container]
Image=docker.io/crowdsecurity/crowdsec:latest
ContainerName=crowdsec
AutoUpdate=registry

# Persistencia
Volume=%h/.config/crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:Z
Volume=crowdsec-data.volume:/var/lib/crowdsec/data:Z
Volume=crowdsec-config.volume:/etc/crowdsec:Z

# Newtworking
Network=security.network

# Environment
Environment=COLLECTIONS=crowdsecurity/linux crowdsecurity/traefik crowdsecurity/http-cve
Environment=DISABLE_LOCAL_CONFIG=false

# Healthcheck

[Service]
# Restart
Restart=unless-stopped

[Install]
WantedBy=default.target
