[Unit]
Description=Servidor Nginx de ejemplo para %I
After=traefik.service

[Container]
Image=docker.io/library/nginx:alpine
ContainerName=nginx-%I
Network=proxy.network

# Etiquetas para que Traefik haga su magia
PodmanArgs=--label "traefik.enable=true" \
           --label "traefik.http.routers.nginx-%I.rule=Host(`%I.{{ env.FQDN }}`)" \
           --label "traefik.http.routers.nginx-%I.entrypoints=websecure" \
           --label "traefik.http.routers.nginx-%I.tls.certresolver=myresolver" \
           --label "traefik.http.routers.nginx-%I.middlewares=seguridadHeaders@file,compresionHeaders@file" \
           --label "traefik.http.services.nginx-%I.loadbalancer.server.port=80"

[Service]
Restart=always

[Install]
WantedBy=default.target
