[Unit]
Description=Servidor Nginx de ejemplo para %i
After=traefik.service

[Container]
Image=docker.io/library/nginx:alpine
ContainerName=nginx-%i
Network=proxy.network

# Etiquetas para que Traefik haga su magia
Label=traefik.enable=true
Label=traefik.http.routers.nginx-%i.rule=Host(`%i`)
Label=traefik.http.routers.nginx-%i.entrypoints=websecure
Label=traefik.http.routers.nginx-%i.tls.certresolver=myresolver
Label=traefik.http.routers.nginx-%i.middlewares=seguridadHeaders@file,compresionHeaders@file

[Service]
Restart=always

[Install]
WantedBy=default.target
