[Unit]
Description=Servidor Nginx de ejemplo para %i
After=traefik.service

[Container]
Image=docker.io/library/nginx:alpine
ContainerName=nginx-%i
Network=proxy.network

# Etiquetas para que Traefik haga su magia
PodmanArgs=--label "traefik.enable=true" \
           --label "traefik.http.routers.nginx-%j.rule=Host(`%i`)" \
           --label "traefik.http.routers.nginx-%j.entrypoints=websecure" \
           --label "traefik.http.routers.nginx-%j.tls.certresolver=myresolver" \
           --label "traefik.http.routers.nginx-%j.middlewares=seguridadHeaders@file,compresionHeaders@file"

[Service]
Restart=always

[Install]
WantedBy=default.target
