[Unit]
Description=Traefik Edge Router (Rootless)
After=network-online.target

[Container]
Image=docker.io/library/traefik:latest
ContainerName=traefik

# Puertos (Recuerda haber bajado el net.ipv4.ip_unprivileged_port_start a 80)
PublishPort=80:80
PublishPort=443:443/tcp
PublishPort=443:443/udp

# 1. Archivo de configuración estática
Volume=%h/.config/traefik/traefik.yml:/etc/traefik/traefik.yml:ro,Z
# 2. Volumen de Podman para certificados (Gestionado por Podman, no bind-mount)
Volume=traefik-certs.volume:/etc/traefik/certs:Z
# 3. Socket de Podman del usuario para el discovery
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
# 4. Directorio dinámico opcional
Volume=%h/.config/traefik/dynamic:/etc/traefik/dynamic:ro,Z
# 5. Persistencia de Plugins
Volume=traefik-plugins.volume:/plugins-storage:rw,Z

Network=traefik-net.network

# Definición del Healthcheck
HealthCmd=traefik healthcheck --ping --ping.address=:8082
HealthInterval=30s
HealthRetries=3
HealthTimeout=5s
HealthStartPeriod=10s

# Hardening
# 1. No permitir escalada de privilegios y limitamos recursos.
PodmanArgs=--security-opt=no-new-privileges
# 2. Hacer el sistema de archivos del contenedor de solo lectura
# (Traefik solo necesita escribir en /etc/traefik/certs y /plugins-storage que son volúmenes)
ReadOnly=true
# 3. Eliminar capacidades de root innecesarias
# Traefik solo necesita NET_BIND_SERVICE para los puertos 80/443
DropCapability=all
AddCapability=cap_net_bind_service

[Service]
Restart=always
# 4. Evita ataques DoS que consuman RAM/CPU
MemoryLimit=512M
CPUWeight=50

[Install]
WantedBy=default.target
